
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-box{
    width: 100vw;
    height: 15vh;
    background-color: rgb(47, 10, 82);
    font-size: 18px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(134, 232, 119);
}
#body-box{
    width: 98vw;
    height: 80vh;
    margin: 3px auto;
    box-shadow: inset 2px 3px 4px 5px blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #container{
      width: 30vw;
     min-height: 30vh;
      border: 2px solid blue;
      margin: 200px auto;
      padding: 10px;
      font-size: 18px;
      border-radius: 20px;
      box-shadow: 2px 3px 4px 4px rgb(168, 154, 234,0.5);
  }
  fieldset{
      padding: 10px 30px;
  
  }
  
  #submitButton{
      width: 12vw;
      height: 5vh;
      font-size: 18px;
      margin-left:100px ;
      font-family: sans-serif;
      border-radius: 10px;
      background-color: rgb(14, 14, 58,0.7);
      color: white;
  }
  #submitButton:active{
      width: 13vw;
      height: 5vh;
      font-size: 19px;
      margin-left:100px ;
      font-family: sans-serif;
      border-radius: 10px;
      font-weight: 600;
      background-color: rgb(71, 101, 11);
      color: white;
  }
  